<div class="container">
    <div class="row text-center">
        <div class="col mt-4">
            <h1>Contador</h1>
            <h2>{{contador}}</h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <button (click)="sumar()" class="btn btn-primary">Sumar</button>
            <button (click)="restar()" class="btn btn-info">Restar</button>
        </div>
    </div>

    <hr>

    <div class="row text-center">
        <div class="col">
            <app-hijo class="mt-4"></app-hijo>
        </div>
    </div>
</div>